.fGal{
    border: $clrPal4 1rem solid;
    border-radius: 50px;
    object-position: center;
    object-fit: cover;
    height: $todo;
    width: $todo;
}

@mixin fGalFoto($colStr, $colEnd, $rowStr, $rowEnd, $height:100%){
    grid-column-start: $colStr;
    grid-column-end: $colEnd;
    grid-row-start: $rowStr;
    grid-row-end: $rowEnd;
    height: $height;
    // max-height: 80vh;
}
/*****************************************Galeria********************/
.containerGal {  
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    gap: 0.5rem;
    grid-auto-flow: row;
    
    
    img{
        @extend .fGal;
    }
    /****************Crochet***********************/
    .fGalC1{
        @include fGalFoto (1, 4, 1, 2);
    };
    /****************2 Agujas***********************/
    .fGal2A1{
        @include fGalFoto (1, 3, 1, 3, 55vh);
    }
    .fGal2A2{
        @include fGalFoto (3, 4, 1 , 3,  55vh);
    }

    /*****************Bordado********************/
    .fGalB1{
        @include fGalFoto (1, 2, 1 ,2,  55vh);
    }
    .fGalB2{
        @include fGalFoto (2, 4, 1 ,2 , 55vh)
    }


    /*****************Macrame********************/
    .fGalM1{
        @include fGalFoto (1, 4, 1, 2,  55vh);
    }
    .fGalM2{
        @include fGalFoto (1, 2, 2, 3);
    }
    .fGalM3{
        @include fGalFoto (2, 3, 2, 3);
    }
    .fGalM4{
        @include fGalFoto (3, 4, 2, 3, );
    }
    .fGalM5{
        @include fGalFoto (1, 3, 3, 5, auto);
    }
    .fGalM6{
        @include fGalFoto (3, 4, 3, 4);
    }
    .fGalM7{
        @include fGalFoto (3, 4, 4, 5);
        
    }
}