.fGal{
    border: $clrPal4 1rem solid;
    border-radius: 50px;
    background-position: center;
    background-size: cover;
}

@mixin fGalFoto($colStr, $colEnd, $rowStr, $rowEnd, $img, $height:40vh){
    grid-column-start: $colStr;
    grid-column-end: $colEnd;
    grid-row-start: $rowStr;
    grid-row-end: $rowEnd;
    background-image: url($img);
    height: $height;
}
/*****************************************Galeria********************/
.containerGal {  
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    gap: 0.5rem;
    grid-auto-flow: row;
    
    /****************Crochet***********************/
    .fGalC1{
        @extend .fGal;
        @include fGalFoto (1, 4, 1, 2, "../images/bikini-crochet.jpg", 60vh);
    }
    /****************2 Agujas***********************/
    .fGal2A1{
        @extend .fGal;
        @include fGalFoto (1, 3, 1, 3, "../images/remplazo.jpg", 55vh);
    }
    .fGal2A2{
        @extend .fGal;
        @include fGalFoto (3, 4, 1 , 3, "../images/remplazo2.jpg", 55vh)
    }

    /*****************Bordado********************/
    .fGalB1{
        @extend .fGal;
        @include fGalFoto (1, 2, 1 ,2, "../images/llaveros.jpg", 55vh)
    }
    .fGalB2{
        @extend .fGal;
        @include fGalFoto (2, 4, 1 ,2 ,"../images/llavero1.jpg", 55vh)
    }


    /*****************Macrame********************/
    .fGalM1{
        @extend .fGal;
        @include fGalFoto (1, 4, 1, 2, "../images/alas-macrame.jpg", 55vh)
    }
    .fGalM2{
        @extend .fGal;
        @include fGalFoto (1, 2, 2, 3, "../images/llavero2.jpg")
    }
    .fGalM3{
        @extend .fGal;
        @include fGalFoto (2, 3, 2, 3, "../images/macetero-Macrame.jpg");
    }
    .fGalM4{
        @extend .fGal;
        @include fGalFoto (3, 4, 2, 3, "../images/plumas-Macrame.jpg");
    }
    .fGalM5{
        @extend .fGal;
        @include fGalFoto (1, 3, 3, 5, "../images/porta-ukelele-Macrame.jpg", auto);
    }
    .fGalM6{
        @extend .fGal;
        @include fGalFoto (3, 4, 3, 4, "../images/atrapasuenios1.jpg");
    }
    .fGalM7{
        @extend .fGal;
        @include fGalFoto (3, 4, 4, 5, "../images/carpeta-corazon-Macrame.jpg");
        
    }
}