/**************************Barras Navegacion General (Nav y Footer)*************************************************************/
.listNavEleProp{
    display: inline-block;
    padding: 0.15rem;
    height: 1rem;
    width: 2rem;
    list-style: none;
    text-align: center;
    box-sizing: content-box;
}
.listNavEle{ 
    border: 2px solid $clrPal4;
    background: linear-gradient(to right top, $clrPal1 , $clrBoton1 70%);        
    border-radius: 50px;
    line-height: 0.6rem;
}


/********************Cabecera******************************************************************************************************************************************************************/
@mixin tituloDelSitio {
    font-family: $fontTitle, cursive;    
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: $clrTituloBorde;
    font-variant: small-caps;
    color: #85aef5;
}

.cabecera{
    position: sticky;
    top:0%;
    display: flex;
    background-image: linear-gradient(to bottom, $clrCabecera 90%, rgba(0, 0, 0, 0));
    backdrop-filter: blur(0.01rem);
    font-size: 1.25rem;
    z-index: 6;
    .logo{
        height: 7rem;
        border-spacing: 50%;
        border-radius: 40%;
        object-fit: contain;
        position: relative;
        top:2rem;
        left: 2rem;
        cursor: pointer;
    }
    .sitioTitulo{    
        @include tituloDelSitio;    
        position: relative;
        left: 50%;
        transform: translate(-$todo);
    }
}

/**************************Barra Navegacion*************************************************************/

.barraNavegacion{
        z-index: 7;
        transform: translate(-35%);
    .listNav{
        padding-inline-start:0;
        margin: 0;
        .listNavEle{ 
            @extend .listNavEleProp;
            &:not(.sele){
                &:hover {
                    background: radial-gradient($clrPal3 60% , $clrTituloBorde); 
                    background-position: left;
                    transform: scale(1.1);
                    font-weight: 900;
                    border-color: $clrPal2;
                    box-shadow: 0px 10px 5px rgba(133, 174, 245, 0.2);
                    i{
                        color:$clrPal2;
                    }
                }
            }
        }
        
        .iconNav{ 
            color: $clrTituloBorde;
            font-size: 1rem;
        }
        .sele{
            background: linear-gradient(to right, $clrPal2, $clrArticle);
            font-weight: bold;
            border: 2px solid $clrBoton1;
            i{  
                color: $clrBoton1;
            }
        }
    }
}

/**************************Nav-Hamburguesa*************************************/
.bg-personal{
    background-color: $clrCabecera;
    color: $clrPal3;
    width: $todo;
}
.hamEleGen{
    padding: 0.5rem;
    border-radius: 10px;
    font-weight: 700;
    width: $todo;
    .iconNav{
        margin-left: 0.5rem;
        color: $clrTituloBorde;
        font-size: 1rem;
    }
}
.contenedorHamburguesa{
    position: fixed;
    visibility: hidden;
    z-index: -10;
    @extend .bg-personal;
    .contenidoHamburguesaColapsado{
        .hamList{
            text-align: end;
            justify-items: end;
            border: 2px solid $clrPal4;
            border-radius: 20px;
            background: linear-gradient(to left, $clrPal1 , $clrBoton1 70%);
            a{
                text-decoration: none;
                .hamEle{
                    @extend .hamEleGen;
                    &:not(.hamSele){
                        &:hover{
                            background: radial-gradient($clrPal3 60% , $clrTituloBorde); 
                            transform: scale(1.05);
                            font-weight: 900;
                            border-color: $clrPal2;
                            box-shadow: 0px 10px 5px rgba(133, 174, 245, 0.2);
                            color:$clrPal2;
                            i{
                                color:$clrPal2;
                            }
                        }
                    }
                }
            }
            .hamSele{
                @extend .hamEleGen;
                ///
                background: linear-gradient(to left, $clrPal2, $clrArticle);
                font-weight: bold;
                border: 2px solid $clrBoton1;
                color: $clrBoton1;
                .iconNav{  
                    color: $clrBoton1;
                }
            }
        }
    }
    .BarraHamburguesa{
        .sitioTituloHam{
            @include tituloDelSitio;
        }
        .logoHam{
            width: 3rem;
            cursor: pointer;
        }
    }
    
}


.editHamburguesa{
    display: flex;
    flex-direction: column;
}
.Logo-Marca-Hamburguesa{
    width: 3rem;
}




/**************************Pie de Pagina*************************************/

.pieDePagina{
    background-color: #121720;
    text-align: end;
    label{
        font-size: 0.8rem;
        margin-right: 0.8rem;
        margin-left: 0.2rem;
    }
    .fNav{
        @extend .listNav;
        .fEle{
            @extend .listNavEleProp;
            margin: 0.25rem;
            width: auto;
        }
        a{
            font-size: 0.5rem;
        }
    }
}