$c:0;
a{
    text-decoration: none;
}
@each $boton in $botones{
    .boton#{$boton}{
        position: sticky;
        top:7rem + $c;
        @if $boton!="Carrito"{
            $c: $c + 3.5rem;
        }
        margin: 0.5rem;
        display: flex;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        color: $clrPal3;
        background: linear-gradient(to right top , $clrPal2 30%, $clrArticle 60%, $clrPal2 100%);
        border: $clrPal4 0.2rem solid;
        justify-content: center;
        align-items: center;
        transition: 200ms;
        i{
            color: $clrPal3;
        }
        &:hover{
            color: $clrPal2;
            background: linear-gradient(to right top , $clrPal3 30%, $clrTituloBorde 60%, $clrPal3 100%);
            border-color: $clrPal2;
            transform: scale(1.2);
            text-shadow: 0.1rem 0.1rem 1px $clrSombra;
            i{
                color: $clrPal2;
            }
        }
        
    }
}

.tarjeta{
    width: 15rem;
    height: 25rem;
    background-color: $clrSection2;
    border-radius: 7px;
    // .foto{
    //     height: 30rem;
        // overflow-x: hidden ;
    //     border-radius: 3px;
    .imgFotoCarta{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 3px;
    }
    .contTextoCarta{
        visibility: hidden;
        font-size: 0rem;
        line-height: 0rem;
        height: 0px;
    }


}
