$c:0;
a{
    text-decoration: none;
}
@each $boton in $botones{
    .boton#{$boton}{
        position: sticky;
        top:8.5rem + $c;
        @if $boton!="Carrito"{
            $c: $c + 3.5rem;
        }
        margin-top: 0.5rem;
        display: flex;
        height: 3rem;
        width: 4rem;
        border-radius: 50px;
        color: $clrPal3;
        background: linear-gradient(to right top, $clrPal1 , $clrBoton1 70%);        
        background-repeat: no-repeat;
        background-size: 800%;
        background-position:left;
        border: $clrPal4 0.2rem solid;
        justify-content: center;
        align-items: center;
        transition: 200ms;
        i{
            color: $clrPal3;
        }
        &:hover{
            color: $clrPal2;
            font-weight: 900;
            background: radial-gradient($clrPal3 60% , $clrTituloBorde); 
            border-color: $clrPal2;
            transform: scale(1.2);
            text-shadow: 0.1rem 0.1rem 1px $clrSombra;
            i{
                color: $clrPal2;
            }
        }
        
    }
}

.contenedorTienda{
    display: grid;
    grid-template-columns: 5% 100% 5%;
    grid-template-rows: auto;
    grid-auto-flow: column;
    
    .botonIzq{
        grid-column: 1/2;
        height: 100%;
        transform: translateX(5%);
        z-index: 3;
    }
    .contenido{
        grid-column: 2/3;
        position: relative;
        left: 0;
        z-index: 2;
        width: 100%;
        transform: translateX(-5%);
    }
    .botonesDer{
        position: relative;
        left: -14vw;
        grid-column: 3/4;
        height: 100%;
        z-index: 3;
    }
}
