$clrFace:#1877f2;
$clrInsta: #c32aa3;    
$clrWsp: #25d366;

$clrPal1:#E0FFF2;
$clrPal2:#f7c5f0;
$clrPal3: #5174af;
$clrPal4:#F9F1DD;

$clrArticle:#FFE0FB;
$clrBody1:#b0e9e6;
$clrSection2:#fffdf6;
$clrCabecera: rgba(176, 233, 230, 0.95);
$clrBoton1:#c2ffe6;
$clrTituloBorde:#BED2F4;
$clrSombra:rgba(133, 174, 245, 0.4);



$bpXL:1200px;
$bpMd:992px;
$bpSm:768PX;
$bpXS:576PX;
$fontTitle: 'Titan One';
$fontSitio: "Mali";

