* {
  margin: 0;
  padding: 0;
  color: #5174af;
  font-family: "Mali";
}

html {
  font-size: 20px;
}

/******************Cuerpo Colores*************************/
body {
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #b0e9e6), color-stop(50%, #E0FFF2), color-stop(90%, #b0e9e6));
  background: linear-gradient(to right, #b0e9e6 10%, #E0FFF2 50%, #b0e9e6 90%);
}

main {
  min-height: calc(100vh - 16rem);
}

main p::first-letter {
  margin: 0 0.5rem;
  font-size: 2rem;
  padding: 0 1rem;
  float: left;
  font-family: "Titan One";
  background-color: #5174af;
  color: #f7c5f0;
}

main h2 {
  font-weight: 900;
  text-shadow: 0.1rem 0.2rem 0.01rem #FFE0FB;
  text-transform: capitalize;
}

main h3 {
  font-weight: 700;
  text-shadow: 0.1rem 0.2rem 0.1rem rgba(133, 174, 245, 0.4);
}

section {
  background: -webkit-gradient(linear, right bottom, left top, from(#F9F1DD), color-stop(#fffdf6), to(#F9F1DD));
  background: linear-gradient(to top left, #F9F1DD, #fffdf6, #F9F1DD);
  min-height: 10vh;
  border-radius: 15px;
  -webkit-box-shadow: 0.4rem 0.4rem 3px rgba(133, 174, 245, 0.4);
          box-shadow: 0.4rem 0.4rem 3px rgba(133, 174, 245, 0.4);
}

article {
  background-color: #FFE0FB;
  border-radius: 15px;
}

/**************************************************************************************************************************************************************************************/
/**************Footer + Nav + Headers***************************************/
/**************************Barras Navegacion General (Nav y Footer)*************************************************************/
.listNavEleProp, .barraNavegacion .listNav .listNavEle, .barraNavegacion .pieDePagina .fNav .listNavEle, .pieDePagina .barraNavegacion .fNav .listNavEle, .pieDePagina .fNav .fEle {
  display: inline-block;
  padding: 0.2rem;
  height: 1rem;
  width: auto;
  list-style: none;
  text-align: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.listNavEle {
  border: 2px solid #F9F1DD;
  background: -webkit-gradient(linear, left bottom, right top, from(#E0FFF2), color-stop(70%, #c2ffe6));
  background: linear-gradient(to right top, #E0FFF2, #c2ffe6 70%);
  border-radius: 50px;
  line-height: 0.6rem;
}

/********************Cabecera******************************************************************************************************************************************************************/
.cabecera {
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(90%, rgba(176, 233, 230, 0.95)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to bottom, rgba(176, 233, 230, 0.95) 90%, rgba(0, 0, 0, 0));
  -webkit-backdrop-filter: blur(0.01rem);
          backdrop-filter: blur(0.01rem);
  font-size: 1.25rem;
  z-index: 6;
}

.cabecera .logo {
  height: 7rem;
  border-spacing: 50%;
  border-radius: 40%;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  top: 2rem;
  left: 2rem;
  cursor: pointer;
}

.cabecera .sitioTitulo {
  font-family: "Titan One", cursive;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #BED2F4;
  font-variant: small-caps;
  color: #85aef5;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

/**************************Barra Navegacion*************************************************************/
.barraNavegacion {
  z-index: 7;
}

.barraNavegacion .listNav, .barraNavegacion .pieDePagina .fNav, .pieDePagina .barraNavegacion .fNav {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin: 0;
}

.barraNavegacion .listNav .listNavEle:not(.sele):hover, .barraNavegacion .pieDePagina .fNav .listNavEle:not(.sele):hover, .pieDePagina .barraNavegacion .fNav .listNavEle:not(.sele):hover {
  background: radial-gradient(#5174af 60%, #BED2F4);
  background-position: left;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  font-weight: 900;
  border-color: #f7c5f0;
  -webkit-box-shadow: 0px 10px 5px rgba(133, 174, 245, 0.2);
          box-shadow: 0px 10px 5px rgba(133, 174, 245, 0.2);
}

.barraNavegacion .listNav .listNavEle:not(.sele):hover i, .barraNavegacion .pieDePagina .fNav .listNavEle:not(.sele):hover i, .pieDePagina .barraNavegacion .fNav .listNavEle:not(.sele):hover i {
  color: #f7c5f0;
}

.barraNavegacion .listNav .listNavEle:not(.sele):hover .navNombreMenu, .barraNavegacion .pieDePagina .fNav .listNavEle:not(.sele):hover .navNombreMenu, .pieDePagina .barraNavegacion .fNav .listNavEle:not(.sele):hover .navNombreMenu {
  color: #f7c5f0;
}

.barraNavegacion .listNav .navNombreMenu, .barraNavegacion .pieDePagina .fNav .navNombreMenu, .pieDePagina .barraNavegacion .fNav .navNombreMenu {
  font-size: 0.8rem;
  margin-right: 0.2rem;
}

.barraNavegacion .listNav .iconNav, .barraNavegacion .pieDePagina .fNav .iconNav, .pieDePagina .barraNavegacion .fNav .iconNav {
  color: #BED2F4;
  font-size: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.barraNavegacion .listNav .sele, .barraNavegacion .pieDePagina .fNav .sele, .pieDePagina .barraNavegacion .fNav .sele {
  background: -webkit-gradient(linear, left top, right top, from(#f7c5f0), to(#FFE0FB));
  background: linear-gradient(to right, #f7c5f0, #FFE0FB);
  font-weight: bold;
  border: 2px solid #c2ffe6;
}

.barraNavegacion .listNav .sele i, .barraNavegacion .pieDePagina .fNav .sele i, .pieDePagina .barraNavegacion .fNav .sele i {
  color: #c2ffe6;
}

.barraNavegacion .listNav .sele .navNombreMenu, .barraNavegacion .pieDePagina .fNav .sele .navNombreMenu, .pieDePagina .barraNavegacion .fNav .sele .navNombreMenu {
  color: #c2ffe6;
}

/**************************Nav-Hamburguesa*************************************/
.bg-personal, .contenedorHamburguesa {
  background-color: rgba(176, 233, 230, 0.95);
  color: #5174af;
  width: 100%;
}

.hamEleGen, .contenedorHamburguesa .contenidoHamburguesaColapsado .hamList a .hamEle, .contenedorHamburguesa .contenidoHamburguesaColapsado .hamList .hamSele {
  padding: 0.5rem;
  border-radius: 10px;
  font-weight: 700;
  width: 100%;
}

.hamEleGen .iconNav, .contenedorHamburguesa .contenidoHamburguesaColapsado .hamList a .hamEle .iconNav, .contenedorHamburguesa .contenidoHamburguesaColapsado .hamList .hamSele .iconNav {
  margin-left: 0.5rem;
  color: #BED2F4;
  font-size: 1rem;
}

.contenedorHamburguesa {
  position: fixed;
  visibility: hidden;
  z-index: -10;
}

.contenedorHamburguesa .contenidoHamburguesaColapsado .hamList {
  text-align: end;
  justify-items: end;
  border: 2px solid #F9F1DD;
  border-radius: 20px;
  background: -webkit-gradient(linear, right top, left top, from(#E0FFF2), color-stop(70%, #c2ffe6));
  background: linear-gradient(to left, #E0FFF2, #c2ffe6 70%);
}

.contenedorHamburguesa .contenidoHamburguesaColapsado .hamList a {
  text-decoration: none;
}

.contenedorHamburguesa .contenidoHamburguesaColapsado .hamList a .hamEle:not(.hamSele):hover {
  background: radial-gradient(#5174af 60%, #BED2F4);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  font-weight: 900;
  border-color: #f7c5f0;
  -webkit-box-shadow: 0px 10px 5px rgba(133, 174, 245, 0.2);
          box-shadow: 0px 10px 5px rgba(133, 174, 245, 0.2);
  color: #f7c5f0;
}

.contenedorHamburguesa .contenidoHamburguesaColapsado .hamList a .hamEle:not(.hamSele):hover i {
  color: #f7c5f0;
}

.contenedorHamburguesa .contenidoHamburguesaColapsado .hamList .hamSele {
  background: -webkit-gradient(linear, right top, left top, from(#f7c5f0), to(#FFE0FB));
  background: linear-gradient(to left, #f7c5f0, #FFE0FB);
  font-weight: bold;
  border: 2px solid #c2ffe6;
  color: #c2ffe6;
  -webkit-transform: translateX(-0.5rem);
          transform: translateX(-0.5rem);
}

.contenedorHamburguesa .contenidoHamburguesaColapsado .hamList .hamSele .iconNav {
  color: #c2ffe6;
}

.contenedorHamburguesa .BarraHamburguesa .sitioTituloHam {
  font-family: "Titan One", cursive;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #BED2F4;
  font-variant: small-caps;
  color: #85aef5;
}

.contenedorHamburguesa .BarraHamburguesa .logoHam {
  width: 3rem;
  cursor: pointer;
}

.editHamburguesa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Logo-Marca-Hamburguesa {
  width: 3rem;
}

/**************************Pie de Pagina*************************************/
.pieDePagina {
  background-color: #121720;
  text-align: end;
}

.pieDePagina label {
  font-size: 0.8rem;
  margin-right: 0.8rem;
  margin-left: 0.2rem;
}

.pieDePagina .fNav .fEle {
  margin: 0.25rem;
  width: auto;
}

.pieDePagina a {
  font-size: 0.7rem;
  text-decoration: none;
}

.pieDePagina a:hover {
  color: rgba(176, 233, 230, 0.95);
  -webkit-transition: 100ms;
  transition: 100ms;
}

/**************************Galeria-Acordeon*************************************/
.galeriaTitulo {
  font-size: 1.3rem;
  font-weight: 900;
}

.acordionBodyColor {
  background-color: #FFE0FB;
}

.accordion-buttonCrochet {
  background-color: #f7c5f0;
}

.accordion-button2Agujas {
  background-color: #FFE0FB;
}

.accordion-buttonBordado {
  background-color: #f7c5f0;
}

.accordion-buttonMacrame {
  background-color: #FFE0FB;
}

.fGal, .containerGal img {
  border: #F9F1DD 1rem solid;
  border-radius: 50px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

/*****************************************Galeria********************/
.containerGal {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 0.5rem;
  grid-auto-flow: row;
  /****************Crochet***********************/
  /****************2 Agujas***********************/
  /*****************Bordado********************/
  /*****************Macrame********************/
}

.containerGal .fGalC1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  height: 100%;
  max-height: 75vh;
}

.containerGal .fGal2A1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  height: 55vh;
}

.containerGal .fGal2A2 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  height: 55vh;
}

.containerGal .fGalB1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  height: 55vh;
}

.containerGal .fGalB2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  height: 55vh;
}

.containerGal .fGalM1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  height: 55vh;
}

.containerGal .fGalM2 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  height: 100%;
}

.containerGal .fGalM3 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  height: 100%;
}

.containerGal .fGalM4 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  height: 100%;
}

.containerGal .fGalM5 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 5;
  height: auto;
}

.containerGal .fGalM6 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  height: 100%;
}

.containerGal .fGalM7 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 5;
  height: 100%;
}

/******************Generales*************************/
.decoImagen, .imgTienda {
  height: 15rem;
  width: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 10px;
  border: #F9F1DD 1rem solid;
  border-radius: 50px;
}

.imgTienda {
  border-radius: 0;
  border: none;
}

.decoImgCarousel {
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  border: #F9F1DD 5px solid;
  border-radius: 50px;
}

.margenSuperiorPagina {
  margin-top: 3rem;
}

.respoReSizeFrames {
  height: auto;
  width: 100%;
  aspect-ratio: 16/9;
  resize: none;
  -webkit-box-shadow: 0.4rem 0.4rem 3px rgba(133, 174, 245, 0.4);
          box-shadow: 0.4rem 0.4rem 3px rgba(133, 174, 245, 0.4);
}

.decoImagenFix {
  height: 12rem;
  width: 12rem;
  border: #F9F1DD 0.5rem solid;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.iconoRedes {
  font-size: 2rem;
}

.noReSize {
  resize: none;
}

.boton {
  border: 2px solid #F9F1DD;
  background: -webkit-gradient(linear, left bottom, right top, from(#E0FFF2), color-stop(40%, #c2ffe6));
  background: linear-gradient(to right top, #E0FFF2, #c2ffe6 40%);
  border-radius: 50px;
  font-weight: 200;
  -webkit-transition: 0.2;
  transition: 0.2;
}

.boton:hover {
  background: radial-gradient(#5174af 60%, #BED2F4);
  border-color: #f7c5f0;
  color: #f7c5f0;
  font-weight: 900;
  -webkit-box-shadow: 0px 10px 5px rgba(133, 174, 245, 0.4);
          box-shadow: 0px 10px 5px rgba(133, 174, 245, 0.4);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.input-group {
  height: 10rem;
}

/*****************************************Tabla********************/
.tabla {
  font-weight: 900;
  background-color: #E0FFF2;
  border: 2px solid #E0FFF2;
  width: 40%;
  font-size: 1rem;
}

.tabla .tTabla {
  background-color: #E0FFF2;
}

.tabla .cTabla {
  background-color: #F9F1DD;
  font-weight: 900;
  padding: 5px;
}

.par {
  border: 2px solid #BED2F4;
  background-color: #FFE0FB;
}

a {
  text-decoration: none;
}

.botonCarrito {
  position: -webkit-sticky;
  position: sticky;
  top: 8.5rem;
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  width: 4rem;
  border-radius: 50px;
  color: #5174af;
  background: -webkit-gradient(linear, left bottom, right top, from(#E0FFF2), color-stop(70%, #c2ffe6));
  background: linear-gradient(to right top, #E0FFF2, #c2ffe6 70%);
  background-repeat: no-repeat;
  background-size: 800%;
  background-position: left;
  border: #F9F1DD 0.2rem solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.botonCarrito i {
  color: #5174af;
}

.botonCarrito:hover {
  color: #f7c5f0;
  font-weight: 900;
  background: radial-gradient(#5174af 60%, #BED2F4);
  border-color: #f7c5f0;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  text-shadow: 0.1rem 0.1rem 1px rgba(133, 174, 245, 0.4);
}

.botonCarrito:hover i {
  color: #f7c5f0;
}

.botonArriba {
  position: -webkit-sticky;
  position: sticky;
  top: 8.5rem;
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  width: 4rem;
  border-radius: 50px;
  color: #5174af;
  background: -webkit-gradient(linear, left bottom, right top, from(#E0FFF2), color-stop(70%, #c2ffe6));
  background: linear-gradient(to right top, #E0FFF2, #c2ffe6 70%);
  background-repeat: no-repeat;
  background-size: 800%;
  background-position: left;
  border: #F9F1DD 0.2rem solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.botonArriba i {
  color: #5174af;
}

.botonArriba:hover {
  color: #f7c5f0;
  font-weight: 900;
  background: radial-gradient(#5174af 60%, #BED2F4);
  border-color: #f7c5f0;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  text-shadow: 0.1rem 0.1rem 1px rgba(133, 174, 245, 0.4);
}

.botonArriba:hover i {
  color: #f7c5f0;
}

.botonOfertas {
  position: -webkit-sticky;
  position: sticky;
  top: 12rem;
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  width: 4rem;
  border-radius: 50px;
  color: #5174af;
  background: -webkit-gradient(linear, left bottom, right top, from(#E0FFF2), color-stop(70%, #c2ffe6));
  background: linear-gradient(to right top, #E0FFF2, #c2ffe6 70%);
  background-repeat: no-repeat;
  background-size: 800%;
  background-position: left;
  border: #F9F1DD 0.2rem solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.botonOfertas i {
  color: #5174af;
}

.botonOfertas:hover {
  color: #f7c5f0;
  font-weight: 900;
  background: radial-gradient(#5174af 60%, #BED2F4);
  border-color: #f7c5f0;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  text-shadow: 0.1rem 0.1rem 1px rgba(133, 174, 245, 0.4);
}

.botonOfertas:hover i {
  color: #f7c5f0;
}

.botonRopa {
  position: -webkit-sticky;
  position: sticky;
  top: 15.5rem;
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  width: 4rem;
  border-radius: 50px;
  color: #5174af;
  background: -webkit-gradient(linear, left bottom, right top, from(#E0FFF2), color-stop(70%, #c2ffe6));
  background: linear-gradient(to right top, #E0FFF2, #c2ffe6 70%);
  background-repeat: no-repeat;
  background-size: 800%;
  background-position: left;
  border: #F9F1DD 0.2rem solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.botonRopa i {
  color: #5174af;
}

.botonRopa:hover {
  color: #f7c5f0;
  font-weight: 900;
  background: radial-gradient(#5174af 60%, #BED2F4);
  border-color: #f7c5f0;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  text-shadow: 0.1rem 0.1rem 1px rgba(133, 174, 245, 0.4);
}

.botonRopa:hover i {
  color: #f7c5f0;
}

.botonDecoracion {
  position: -webkit-sticky;
  position: sticky;
  top: 19rem;
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  width: 4rem;
  border-radius: 50px;
  color: #5174af;
  background: -webkit-gradient(linear, left bottom, right top, from(#E0FFF2), color-stop(70%, #c2ffe6));
  background: linear-gradient(to right top, #E0FFF2, #c2ffe6 70%);
  background-repeat: no-repeat;
  background-size: 800%;
  background-position: left;
  border: #F9F1DD 0.2rem solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.botonDecoracion i {
  color: #5174af;
}

.botonDecoracion:hover {
  color: #f7c5f0;
  font-weight: 900;
  background: radial-gradient(#5174af 60%, #BED2F4);
  border-color: #f7c5f0;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  text-shadow: 0.1rem 0.1rem 1px rgba(133, 174, 245, 0.4);
}

.botonDecoracion:hover i {
  color: #f7c5f0;
}

.contenedorTienda {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 100% 5%;
      grid-template-columns: 5% 100% 5%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-auto-flow: column;
}

.contenedorTienda .botonIzq {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  height: 100%;
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
  z-index: 3;
}

.contenedorTienda .contenido {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  position: relative;
  left: 0;
  z-index: 2;
  width: 100%;
  -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
}

.contenedorTienda .botonesDer {
  position: relative;
  left: -14vw;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  height: 100%;
  z-index: 3;
}

/*************Animaciones & Similares**********************************************************************************************/
.animacion {
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.resaltarAnimacion:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border: #5174af 0.3rem solid;
  border-radius: 0;
  -webkit-box-shadow: 0px 0.5rem 0.25rem rgba(133, 174, 245, 0.4);
          box-shadow: 0px 0.5rem 0.25rem rgba(133, 174, 245, 0.4);
}

.resaltarBotonGal:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.sombraRedes:hover {
  text-shadow: 0.2rem 0.2rem 3px rgba(133, 174, 245, 0.4);
}

.faceCol:hover {
  color: #1877f2;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.instaCol:hover {
  color: #c32aa3;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.wsapCol:hover {
  color: #25d366;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.faceBrillo:hover::after {
  content: '';
  background-color: #1877f2;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.instaBrillo:hover::after {
  content: '';
  background-color: #c32aa3;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.wsapBrillo:hover::after {
  content: '';
  background-color: #25d366;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.navBarHover:hover {
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0.2rem 0.2rem 3px rgba(133, 174, 245, 0.4);
          box-shadow: 0.2rem 0.2rem 3px rgba(133, 174, 245, 0.4);
}

.animat:hover {
  -webkit-animation-name: Ani-Logo;
          animation-name: Ani-Logo;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  cursor: pointer;
}

@-webkit-keyframes Ani-Logo {
  0% {
  }
  10% {
    -webkit-transform: translateY(-1.5rem) rotatez(36deg) scale(0.5);
            transform: translateY(-1.5rem) rotatez(36deg) scale(0.5);
  }
  100% {
    -webkit-transform: translateY(0rem) rotatez(360deg) scale(1);
            transform: translateY(0rem) rotatez(360deg) scale(1);
  }
}

@keyframes Ani-Logo {
  0% {
  }
  10% {
    -webkit-transform: translateY(-1.5rem) rotatez(36deg) scale(0.5);
            transform: translateY(-1.5rem) rotatez(36deg) scale(0.5);
  }
  100% {
    -webkit-transform: translateY(0rem) rotatez(360deg) scale(1);
            transform: translateY(0rem) rotatez(360deg) scale(1);
  }
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 18px;
  }
  .fGal, .containerGal img {
    border: #F9F1DD 10px solid;
    border-radius: 40px;
  }
  .containerGal {
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
    /*****************************************Galeria********************/
    /****************Crochet***********************/
    /****************2 Agujas***********************/
    /*****************Bordado********************/
    /*****************Macrame********************/
  }
  .containerGal .fGalC1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    height: auto;
  }
  .containerGal .fGal2A1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
  }
  .containerGal .fGal2A2 {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
  }
  .containerGal .fGalB2 {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
  }
  .containerGal .fGalM1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
  }
  .containerGal .fGalM2 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
    width: 100%;
  }
  .containerGal .fGalM3 {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
  }
  .containerGal .fGalM4 {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 6;
    width: 100%;
  }
  .containerGal .fGalM5 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 5;
    width: 100%;
    height: 110vh;
  }
  .containerGal .fGalM6 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 7;
    width: 100%;
  }
  .containerGal .fGalM7 {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 6;
        grid-row-start: 6;
    grid-row-end: 7;
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  html {
    font-size: 16px;
  }
  .cabecera {
    position: fixed;
    visibility: hidden;
    z-index: -10;
  }
  .contenedorHamburguesa {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    visibility: visible;
    z-index: 6;
  }
  .pieDePagina label {
    font-size: 0rem;
  }
  .fGal, .containerGal img {
    border: #F9F1DD 10px solid;
    border-radius: 40px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    width: 100%;
  }
  .containerGal {
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
    /*****************************************Galeria********************/
    /****************Crochet***********************/
    /****************2 Agujas***********************/
    /*****************Bordado********************/
    /*****************Macrame********************/
  }
  .containerGal .fGalC1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .containerGal .fGal2A1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .containerGal .fGal2A2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .containerGal .fGalB1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .containerGal .fGalB2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .containerGal .fGalM1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-column-align: center;
        justify-self: center;
    height: 50vh;
  }
  .containerGal .fGalM2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column-align: center;
        justify-self: center;
    height: 50vh;
  }
  .containerGal .fGalM3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
    -ms-grid-column-align: center;
        justify-self: center;
    height: 50vh;
  }
  .containerGal .fGalM4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 5;
    -ms-grid-column-align: center;
        justify-self: center;
    height: 50vh;
  }
  .containerGal .fGalM5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 6;
    -ms-grid-column-align: center;
        justify-self: center;
    height: 50vh;
  }
  .containerGal .fGalM6 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 6;
        grid-row-start: 6;
    grid-row-end: 7;
    -ms-grid-column-align: center;
        justify-self: center;
    height: 50vh;
  }
  .containerGal .fGalM7 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 7;
        grid-row-start: 7;
    grid-row-end: 8;
    -ms-grid-column-align: center;
        justify-self: center;
    height: 50vh;
  }
}

@media only screen and (max-width: 768PX) {
  html {
    font-size: 14px;
  }
  .fGal, .containerGal img {
    border: #F9F1DD 1rem solid;
    border-radius: 40px;
  }
  .barraNavegacion .listNav .listNavEleProp, .barraNavegacion .pieDePagina .fNav .listNavEleProp, .pieDePagina .barraNavegacion .fNav .listNavEleProp, .barraNavegacion .listNav .listNavEle, .barraNavegacion .pieDePagina .fNav .listNavEle, .pieDePagina .barraNavegacion .fNav .listNavEle, .pieDePagina .fNav .barraNavegacion .listNav .fEle, .barraNavegacion .pieDePagina .fNav .fEle, .pieDePagina .barraNavegacion .fNav .fEle {
    width: 1rem;
  }
  .barraNavegacion .listNav .iconNav, .barraNavegacion .pieDePagina .fNav .iconNav, .pieDePagina .barraNavegacion .fNav .iconNav {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 576PX) {
  .fGal, .containerGal img {
    border: #F9F1DD 0.5rem solid;
    border-radius: 20px;
  }
  .cTabla {
    font-size: 0.7rem;
  }
  .botonCarrito {
    width: 3rem;
    font-size: 0.7rem;
  }
  .botonArriba {
    width: 3rem;
    font-size: 0.7rem;
  }
  .botonOfertas {
    width: 3rem;
    font-size: 0.7rem;
  }
  .botonRopa {
    width: 3rem;
    font-size: 0.7rem;
  }
  .botonDecoracion {
    width: 3rem;
    font-size: 0.7rem;
  }
  .pieDePagina .fNav {
    padding: 0;
  }
  .pieDePagina .fNav .fEle {
    padding: 0;
    margin: 0.1rem;
  }
  .pieDePagina .fNav a {
    font-size: 0.65rem;
  }
}
/*# sourceMappingURL=style.css.map */