*{
    margin: 0;
    padding: 0;
    /* color: #85aef5; */
    color: #5174af;
    font-family: "Mali";
}
html{
    font-size: 20px;
}
/******************Cuerpo Colores*************************/
body{
    background: linear-gradient(to right, #b0e9e6 10%,  #E0FFF2  50%, #b0e9e6 90%) ;
    background-blend-mode:luminosity;
    
}
main{
    min-height: calc(100vh - 16rem);
}
section{
    background: linear-gradient(to top left, #F9F1DD, #fffdf6, #F9F1DD ) ;
    min-height: 1vh;
    border-radius: 15px;
    
}
article{
    background-color: #FFE0FB;
    border-radius: 15px;
}
.espaciado{
    padding: 1rem;
}
.margen{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/**************************************************************************************************************************************************************************************/
/********************Cabecera******************************************************************************************************************************************************************/
.cabecera{
    position: sticky;
    top:0%;
    display: flex;
    background-image: linear-gradient(to bottom, rgba(176, 233, 230, 0.95) 90%, rgba(0, 0, 0, 0));
    backdrop-filter: blur(0.01rem);
    font-size: 1.25rem;
    z-index: 6;
}
.cabecera .logo{
    height: 7rem;
    background-color: #FFE0FB;
    border-spacing: 50%;
    border-radius: 40%;
    object-fit: contain;
    box-shadow: 0 0 1rem 1rem #FFE0FB, 0 0 1rem 1rem rgba(255, 224, 251, 0.5), 0 0 1.5rem 1.5rem rgba(255, 224, 251, 0.25);
    position: relative;
    top:2rem;
    left: 2rem;
}
.cabecera h1{    
    font-family: 'Titan One', cursive;    
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #BED2F4;
    font-variant: small-caps;
    color: #85aef5;
    
    position: relative;
    left: 50%;
    transform: translate(-100%);
}
/**************************Barra Navegacion*************************************************************/

.barraNavegacion{
        z-index: 7;
        position: relative;
        top:3.5rem;
        left: 40%;
        transform: translate(-100%);
    }
    .listNav{
        padding-inline-start:0;
        margin: 0;
    }
        .barraNavegacion .listNav .listNavEle{        
            border: 2px solid #F9F1DD;
            background: linear-gradient(to right top, #E0FFF2 , #c2ffe6 70%);        
            border-radius: 50px;
            line-height: 0.6rem;
        }
        .listNavEleProp{
            display: inline-block;
            padding: 0.15rem;
            height: 1rem;
            width: 2rem;
            list-style: none;
            text-align: center;
            box-sizing: content-box;
        }
        .iconNav{ 
            color: #BED2F4;
            font-size: 1rem;
        }

    .barraNavegacion .listNav .sele{
        background: linear-gradient(to right, #f7c5f0, #FFE0FB);
        font-weight: bold;
        border: 2px solid #c2ffe6;
    }    
        .barraNavegacion .listNav .sele i{  
            color: #c2ffe6;
        }
    


/**************************Pie de Pagina*************************************/

.pieDePagina{
    background-color: #121720;
    text-align: end;
}

.pieDePagina label{
    font-size: 0.8rem;
}

.pieDePagina .listNav li{
    margin: 0.25rem;
    width: auto;
}
.pieDePagina .listNav a{
    font-size: 0.5rem;
    
}

/******************Generales*************************/
.decoImagen{
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    margin: 10px;
    border: #F9F1DD 20px solid;
    border-radius: 50px;
}
.decoImgCaro{
        height: 50vh;
        object-fit: cover;
        border: #F9F1DD 5px solid;
        border-radius: 50px;
}
/* .margenSuperiorPagina{
    margin-top: 12rem;
} */
.centrado{
    justify-items: center;
    align-items: center;
    justify-content: center;
}
.respoReSizeFrames{
    height: auto;
    width: 100%;
    resize:none;
}
.decoImagenFix{
    height: 12rem;
    width: 12rem;
    border: #F9F1DD 0.5rem solid;
    border-radius: 50px;
    object-fit: cover;
    margin: 0.5rem;
    box-sizing: border-box;
}
.resaltarRedSocial{
    font-size: 1.3rem;
}
/*****************************************Tabla********************/
table{
    font-weight: 900;
    background-color: #E0FFF2;
    border: 2px solid #E0FFF2;
    width: 40%;
}
table caption{
    background-color:#E0FFF2;
}

table th{
    background-color:#F9F1DD;
    font-weight: 900;
    padding: 5px;
}
table .par{
    border: 2px solid #BED2F4;
    background-color: #FFE0FB;
}


/*************Animaciones & Similares**********************************************************************************************/
.barraNavegacion .listNav .listNavEle:not(.sele):hover {
    
    background: radial-gradient(#5174af 60% , #BED2F4); 
    /*transition: 0.2s;*/
    background-position: left;
    transform: scale(1.1);
    font-weight: 900;
    border-color: #f7c5f0;
    box-shadow: 0px 10px 5px rgba(133, 174, 245, 0.2);
    
}
.barraNavegacion .listNav .listNavEle:not(.sele):hover i{
    color:#f7c5f0;
}
.animacion {
    transition: all 500ms;
}
.resaltarAnimacion:hover{
    transform: scale(1.3);   
    border: #5174af 1rem solid;
    box-shadow: 0px 0.5rem 0.25rem rgba(133, 174, 245, 0.4);
}
.resaltarRedSocial:hover{
    transform: scale(1.3);
}


@media only screen /* and (min-width: 100px)*/ and (max-width: 1200px){
    html{
        font-size: 18px;
    }
    
    
}

@media only screen /* and (min-width: 100px)*/ and (max-width: 992px){
    html{
        font-size: 16px;
    }
    
    .pieDePagina label{
        font-size: 0rem;
    }
}

@media only screen /* and (min-width: 100px)*/ and (max-width: 768PX){
    html{
        font-size: 14px;
    }
}

@media only screen /* and (min-width: 100px)*/ and (max-width: 576PX){
    
}
