@import "./variables";

*{
    margin: 0;
    padding: 0;
    /* color: #85aef5; */
    color: $clrPal3;
    font-family: $fontSitio;
}
html{
    font-size: map-get($remSize , st);
}
/******************Cuerpo Colores*************************/
body{
    background: linear-gradient(to right, $clrBody1 10%,  $clrPal1  50%, $clrBody1 90%);
    // background-blend-mode:luminosity;
    
}
main{
    min-height: calc(100vh - 16rem);
    p::first-letter{
        margin: 0 0.5rem;
        font-size: 2rem;
        padding: 0 1rem;
        float: left;
        font-family: $fontTitle;
        background-color: $clrPal3;
        color:$clrPal2;
        
        // text-shadow: 2px 2px 5px $clrArticle;
        // -webkit-text-stroke: 2px;
        // -webkit-text-stroke-color: $clrArticle;
    }
}
section{
    background: linear-gradient(to top left, $clrPal4, $clrSection2, $clrPal4 ) ;
    min-height: 1vh;
    border-radius: 15px;
    
}
article{
    background-color: $clrArticle;
    border-radius: 15px;
    
}
.espaciado{
    padding: 1rem;
}
.margen{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/**************************************************************************************************************************************************************************************/
/**************Footer + Nav + Headers***************************************/
@import "./piesYCabeza";

/**************************Galeria-Acordeon*************************************/
.galeriaTitulo{
    font-size: 1.3rem;
    font-weight: 900;
    color: $clrTituloBorde;
    mix-blend-mode: exclusion;
}
.accordion-buttonCrochet{
    background-position: center;
    background-size: cover;
    background-color: $clrPal2;
    /* background-image: url(../images/bikini-crochet.jpg); */
}
.accordion-button2Agujas{
    background-position: center;
    background-size: cover;
    background-color: $clrArticle;
    /* background-image: url(../images/remplazo.png); */
}
.accordion-buttonBordado{
    background-position: center;
    background-size: cover;
    background-color: $clrPal2;
    /* background-image: url(../images/llavero1.jpg); */
}
.accordion-buttonMacrame{
    background-position: center;
    background-size: cover;
    background-color: $clrArticle;
    /* background-image: url(../images/alas-macrame.jpg); */
}
.acordionBodyColor{
    background-color: $clrArticle;
}



//////////////// Galeria ////////////////////////////////////////////////////////////

@import "./mixinGal";

/******************Generales*************************/
.decoImagen{
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    margin: 10px;
    border: $clrPal4 20px solid;
    border-radius: 50px;
}
.decoImgCaro{
        height: 50vh;
        object-fit: cover;
        border: $clrPal4 5px solid;
        border-radius: 50px;
}
.margenSuperiorPagina{
    margin-top: 3rem;
}

.centrado{
    justify-items: center;
    align-items: center;
    justify-content: center;
}
.respoReSizeFrames{
    height: auto;
    width: 100%;
    resize:none;
}
.decoImagenFix{
    height: 12rem;
    width: 12rem;
    border: $clrPal4 0.5rem solid;
    border-radius: 50px;
    object-fit: cover;
    margin: 0.5rem;
    box-sizing: border-box;
}
.iconoRedes{
    font-size: 2rem;
}
.noReSize{
    resize: none;
}
.boton{
    border: 2px solid $clrPal4;
    background: linear-gradient(to right top, $clrPal1 , $clrBoton1 40%);        
    border-radius: 50px;
    font-weight: 200;
    transition: 0.2;
    &:hover{
        background: radial-gradient($clrPal3 60% , $clrTituloBorde); 
        border-color:$clrPal2;
        color:$clrPal2;
        font-weight: 900;
        box-shadow: 0px 10px 5px $clrSombra;
        transform: scale(1.1);
    }
    
}
.input-group{
    height: 10rem;
}

/*****************************************Tabla********************/
.tabla{
    font-weight: 900;
    background-color: $clrPal1;
    border: 2px solid $clrPal1;
    width: 40%;
    font-size: $tabFontSize;
    .tTabla{
        background-color:$clrPal1;
        
    }
    .cTabla{
        background-color:$clrPal4;
        font-weight: 900;
        padding: 5px;
    }
}
.par{
    border: 2px solid $clrTituloBorde;
    background-color: $clrArticle;
}


/*************Animaciones & Similares**********************************************************************************************/

.animacion {
    transition: all 500ms;
}
.resaltarAnimacion:hover{
    transform: scale(1.5);   
    border: $clrPal3 0.3rem solid;
    border-radius: 0;
    box-shadow: 0px 0.5rem 0.25rem $clrSombra;
}

.resaltarBotonGal:hover{
    transform: scale(1.1);
}

@each $red, $color in $clrRedes{
    .#{$red}Col:hover{
        color:$color;
        transform: scale(1.3);
    }
}

.animat:hover{
    animation-name: Ani-Logo;
    animation-duration: 5s;
    
}

@keyframes Ani-Logo {
    0% {

    }
    10% {
        transform: scaleY(0.5);
        transform: translateY(-1.5rem);        
    }
    100%{
        transform: translateY(0rem);
    }
}

@import "./query";